body {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.email-container {
  max-width: 70%;
}

.inner-wrapper {
  display: flex;
  justify-content: center;
}

.left-info {
  display: flex;
  margin-right: 0.5rem;
}

.email-header {
  display: flex;
  justify-content: space-between;
}

.email-header h5 {
  margin: 0;
}

p {
  margin: 0;
  padding-top: 0.4rem;
  font-size: 0.8rem;
  color: gray;
}

input[type="checkbox"] {
  margin: 0 0.5rem 0 0;
}

hr,
.fa-thumb-tack {
  color: gray;
}
